#web-component {
    border: 2px solid rgb(2, 0, 128);
}

sunrise-widget[data-state="loading"] {
    opacity: 0.6;
}

sunrise-widget[data-state="ready"] {
    color: purple;
}

sunrise-widget[data-state="error"] {
    border: 2px solid red;
}