:root {
    --bg-color: #ead3e8;
    --text-color: #b35969;
    --accent: #f2d8ca; 
    --nav-color:  #a56a84;
    --text-accent: #bc7671;
    --border-color: #eff6ff;
    --extra: #f8c7b3;

    background-color: var(--bg-color);
    color: var(--text-color);
}

body {
    h1 {
        font-style: bold;
    }

    h2::before {
        content: "🍒 ";
    }

    a {
        color: var(--accent);
    }

    h3 {
        font-style: italic;
    }
    h3::before {
        content: "🎀 ";
    }
}

nav li {
    display: inline-block;
    list-style-type: none;
    padding: .3rem .1rem .3rem .3rem;
    background-color: var(--nav-color);
    border: 1px solid var(--border-color);
    width: 100px;
}

li::before {
    content: "✨ ";
}

.gallery {
    border: 2px solid black;

    h3 {
        margin: .2rem;
    }
}

img {
    max-width: 50%;
    max-height: 50%;
}

button {
    background-color: var(--accent);
    border-color: var();
}
button:hover {
    background-color: var(--nav-color);
}